/*
    CSS는 cascading style sheets   cascading이기 때문에 위에서 아래로 코드를 읽는다. 
*/

/* challenges 2
body {
  background: tomato;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.father {
  width: 200px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: wheat;
  border: 2px solid black;
}

.inside {
  background: teal;
  height: 50px;
  width: 50px;
  border: 3px solid white;
}

.inside-second {
  width: 100%;
  border-style: dashed;
}
*/

/* challenges 3 
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: seashell;
  font-style: italic;
  height: 200vh;
}

.father,
.father2 {
  display: flex;
  flex-direction: raw;
  justify-content: space-evenly;
  border: none;
  width: 450px;
}

.father2 {
  position: relative;
  bottom: -30px;
}
.father > div:nth-child(1) {
  background-color: tomato;
}

.father > div:nth-child(2) {
  background-color: Teal;
}

.father2 > div:nth-child(1) {
  background-color: Burlywood;
}

.father2 > div:nth-child(2) {
  background-color: thistle;
}

.inside {
  height: 50px;
  width: 98%;
  background-color: white;
  position: relative;
  bottom: -10px;
  right: 5px;
}

h3 {
  position: relative;
  top: -10px;
}

span {
  position: relative;
  top: -30px;
  font-size: 10px;
}

div {
  height: 280px;
  width: 200px;
  border: solid white 5px;
}

*/

/* challenges 4 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  background-color: lightblue;
}

@keyframes firstone {
  0% {
    transform: rotate(0deg);
  }

  49% {
    transform: rotate(180deg);
  }
  51% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

p {
  font-size: 10px;
  animation: firstone 2s ease-in-out infinite;
  white-space: pre-wrap;
  transform-origin: center;
}

div {
  display: flex;
  flex-direction: raw;
  justify-content: space-evenly;
  width: 20vh;
}

@keyframes bottom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.9);
  }
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

div > div {
  height: 14px;
  width: 4px;
  background-color: black;
  position: relative;
  bottom: -30px;
  animation: bottom 2s linear infinite;
}

#a {
  animation-delay: 0.1s;
}
#b {
  animation-delay: 0.2s;
}
#c {
  animation-delay: 0.3s;
}
#d {
  animation-delay: 0.4s;
}
#e {
  animation-delay: 0.5s;
}
